# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de editores de código (VS Code, IntelliJ, etc.)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos temporales o de caché
*.log
.npm/